.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .headings {
    display: flex;
    color: #515151;
  }
  
  .heading {
    font-weight: bold;
    cursor: pointer;
    padding: 20px 72.6px;
    background-color: #ddd;
    color: #515151;
    border-radius: 12px 12px 0 0; 
  }
  
  .heading.active {
    background-color: #FFEFEA;
    color: #fff;
    color: #515151;
  }

  form {
    background-color: #FFEFEA;
    border-radius: 12px; 
  }
  
  fieldset{
    border: none;
    width: 100%; 
    height: 300px; 

  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #833016;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


select {
    appearance: none;
}

/* Submit button */
button[type="submit"] {
    display: block;
    width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.itemSummary{
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  color: black;
  font-family: Poppins;
  position: relative;
  font-weight: bold; 
  margin-left: 0px;

}

/* Buttons */
button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 10px; 

/* Submit button */
button[type="submit"] {
  background-color: #E83A22; 
}

/* Next and back button */
button[type="button"] {
  background-color: #6c757d; 
    
}

/* Hover effect for buttons */
button:hover {
  opacity: 0.8; 
}

/* Active effect for buttons */
button:active,
button:focus {
  outline: none; 
  box-shadow: none; 
}

button[type="submit"] {
  background-color: #E83A22; 
  margin-top: 10px;
  width: 500px;
}


button[type="button"] {
  background-color: #6c757d; 
  margin-top: 20px;

}

.nextButton{
  margin-top: 20px;
}


@media screen and (max-width: 600px) {
  .container {
    max-width: 90%; 
    margin-bottom: 10px; 
  }

  .headings {
    font-size: 0.9em; 
  }

  .heading {
    padding: 15px 50px; 
    border-radius: 10px 10px 0 0; 
  }

  .heading.active {
    font-size: 1em; 
  }

  form {
    border-radius: 10px; 
  }


  label {
    font-size: 0.9em; 
    margin-bottom: 3px; 
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 100%; 
    padding: 6px; 
    margin-bottom: 8px; 
    font-size: 0.9em; 
  }

  select {
    appearance: none;
  }

  button {
    padding: 8
  }

  
  .customer-form input {
    margin-bottom: 10px;
  }

  /* Style for the buttons */


button[type="submit"] {
  background-color: #E83A22; 
  margin-top: 10px;
  width: 275px;
}


button[type="button"] {
  background-color: #6c757d; 
  margin-top: 20px;

}



}
}