html,
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: white;
}

.back {
  padding: 20px;
  text-decoration: underline;
  color: white;
}

.checkoutContainer {
  display: flex;
  height: 100%;
}

.checkoutSection,
.orderSummarySection {
  flex: 1;
}


.checkoutSection {
  background-color: #3a2e2e;
}

.orderSummarySection {
  background-color: #271f1f;
}

.checkoutDetails {
  margin-left: 75px;
}

.orderDetails {
  margin-top: 90px;
  margin-left: 75px;
}

.logo {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 250px;
  margin-bottom: 20px; 
}

.customer-form {
  padding: 20px;
  background-color: #ffefea;
  color: #833016;
  width: 500px;
  min-height: 70vh;
}

.customer-form label {
  display: block;
  margin-bottom: 10px;
}

.customer-form input {
  margin-bottom: 10px;
}

.cart-item-image {
  max-width: 200px; 
  max-height: 100px; 
 
}

.cart-item {
  background-color: #f0f0f0; 
  padding: 10px; 
  margin-bottom: 10px; 
  max-width: 500px;
  border-radius: 10px;
  color: black;
}

.cart-item {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
}

.cart-item-image {
  width: 100px; 
  height: auto; 
  margin-right: 10px; 
}

@media only screen and (max-width: 600px) {
  .checkoutContainer {
    flex-direction: column; 
  }


  .logo {
    margin-top: 20px; 
    margin-bottom: 20px; 
  }

  .customer-form {
    width: 85%; 
    font-size: 0.9em; 
    height: 100px;
  }

  body {
    font-size: 0.8em; 
  }

  .back {
    font-size: 0.9em; 
  }

  .checkoutDetails,
  .orderDetails {
    font-size: 0.8em; 
  }

  .checkoutSection,
  .orderSummarySection {
    padding: 10px; 
  }

  .checkoutDetails {
    margin-left: 10px; 
  }

  .orderDetails { 
    margin:20px auto;
    width:fit-content;
  }


}
