/*GENERAL__marquee banner*/
  .marquee {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0;
    white-space: nowrap;
    overflow: clip;
    overflow-clip-margin: border-box;
  }
  .marquee span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #f1d7d7;
    background-color: rgb(197, 46, 30);
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-block;
    animation: loop 45s linear infinite;
    margin:0;
    padding:0;
  }
  @keyframes loop {
    0% {
      transform: translate (0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}
