body{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth; 
  background-color: #16151A;
  width:100vw; 
  height:100vh;
  max-width:100%;
}

/*PRODUCT LIST --- BANNER + MINI STATUS BAR*/
.herobanner{
    width:100%;
    background-color:#2f2f2f;
    padding-bottom: 0.1%;
}
.NintendoPL__background{
    width:100%;
}
#fullwidth-image {
    width: 100%;
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    display: block; /* Ensures the image behaves as a block element */
}
.herobanner__statusbar {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin:1% auto;/*centers text*/
    align-items: center;
}

/*PRODUCT LIST --- FILTER*/
.filter {
    float: left; /* Ensure the filter stays on the left side */
    width: 20%; /* Adjust as needed */
    padding: 3%;
    background-color: #2f2f2f;
    margin-top: 40px; /* Add margin to the top */
    margin-left: 40px; /* Add margin to the right */
}
.filter label {
    display: block;
    margin-bottom: 1em;
}

.spaced-list li {
    margin-bottom: 25px; /* Add margin between list items */
    cursor: pointer;
}
.spaced-list li:hover{
    text-decoration: underline;
}







/*PRODUCT LIST -- PRODUCTS*/
.product-list {
    display: flex; /* Use flexbox */
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    z-index: 1;
}
.product-card {
    border: 1px solid #ccc;
    overflow: hidden;
    width: 250px; /* Set a fixed width */
    height: 420px; /* Set a fixed height */
    margin: 1em 1em 2em 1em; /* Adjust margin for spacing */
    display: flex;
    flex-direction: column;
    background-color: #FFEFEA;
    border-radius: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 1.2em;
    flex: 1;
}


.product-description {
    color: #666;
    margin-bottom: 10px;
}


.in-stock {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}





.product-card:last-child {
    margin-right: 0; /* Remove margin from the last card */
}


.page {
    width: 100%;
    text-align: center; /* Optional: Center the content horizontally */
    background-color: #2f2f2f;
}

.product-card {
    position: relative;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.product-card:hover .add-to-cart-btn {
    opacity: 1;
    visibility: visible;
}