


.NintendoPL{
	background-position: 50% -26px;

}

#fullwidth-image {
    width: 100%;
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    display: block; /* Ensures the image behaves as a block element */
}



.filter{
	background-color: #000000; 
	padding: 50px;
	height: 1000px;
    color: white;
}

.product-card {
    border: 1px solid #ccc;
    overflow: hidden;
    width: 250px;
    height: 310x;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFEFEA;
    border-radius: 5px;
    margin-right: 5px; /* Add margin for spacing between cards */
    margin-left: 50px;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}


.product-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: black;
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.in-stock {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.product-list {
    display: flex; /* Use flexbox */
    margin-left: 500px;
    margin-top: 40px;
    z-index: 1;
}



.product-card:last-child {
    margin-right: 0; /* Remove margin from the last card */
}

.filter {
    float: left; /* Ensure the filter stays on the left side */
    width: 20%; /* Adjust as needed */
    padding: 20px;
    background-color: #2f2f2f;
    margin-top: 60px; /* Add margin to the top */
    margin-left: 60px; /* Add margin to the right */
}

/* Style for the filter options */
.filter label, .filter select {
    display: block;
    margin-bottom: 10px;
}

.filter select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;

}

.spaced-list li {
    margin-bottom: 20px; /* Add margin between list items */
    text-decoration: underline;
    cursor: pointer;
}


.page {
    width: 100%;
    text-align: center; /* Optional: Center the content horizontally */
    background-color: #2f2f2f;
}

.headings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
