
.productDetails {
    color: white;
}

.productPage{
    display: flex;
    font-family: 'Poppins';
    font-size: 14px;
    background: linear-gradient(to top, #442727, #16151A);
    color: white;
    padding: 20px; /* Add padding for even spacing */

}


.productDetails {
    display: flex;
    font-family: 'Poppins';
    font-size: 14px;
    background: linear-gradient(to top, #16151A, #442727);
    color: white;
}

.pageLeft {
    flex: 1;
    padding: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

.pageRight {
    flex: 1;
    padding: 20px;
    margin-top: 100px;
}

.description {
    max-width: 600px; /* Adjust maximum width as needed */
}

.description p {
    margin-bottom: 15px; /* Add space between paragraphs */
}


.slideshow img {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
}


.star-rating {
    font-size: 24px; /* Adjust the size of the stars */
}

.star {
    color: white; /* Color of the stars */
}

.rating-value {
    margin-left: 10px; /* Spacing between stars and rating value */
    font-size: 14px; /* Font size of the rating value */
}

.purchaseInfo {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    text-align: center;

}

.add-to-cart-btn {
    margin-left: 10px;
    background-color: #E83A22; /* Change button background color to red */
    color: white; /* Change text color to white for better visibility */
    padding: 10px 100px; /* Adjust padding for larger button */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover for better user experience */
}


