/* CSS for Product Details */

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .headings {
    display: flex;
    color: #515151;
  }
  
  .heading {
    font-weight: bold;
    cursor: pointer;
    padding: 20px 44.5px;
    background-color: #ddd;
    color: #515151;
    border-radius: 12px 12px 0 0; /* Top-left and top-right corners */
  }
  
  .heading.active {
    background-color: #FFEFEA;
    color: #fff;
    color: #515151;
  }
  
  form {
    background-color: #FFEFEA;
    max-width: 500px;
    height: 300px;
    border-radius: 0 0 12px 12px; /* Top-left and top-right corners */
  }
  
  fieldset{
    border: none;
    width: 100%; /* Ensure each fieldset spans the full width */
    height: 300px; /* Set the height of each fieldset */

  }
  

  fieldset img {
    display: block; /* Ensure the image is displayed as a block element */
    margin-top: -100px;
    width: 450px;

  }
  
  .shipping {

    padding: 10px;
    color: #833016;
  }
  
  .reviews {

    color: #833016;
  }
  
  .title {
    padding: 20px;
  }
  
  .icons {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the icons horizontally */
    margin-top: 10px;
    cursor: pointer;
  }
  
  .icons img {
    display: flex;
    width: 90px; /* Set the width of the icons */
    margin: 25px; /* Add some space between the icons */
  }

  @media screen and (max-width: 500px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .headings{
      display:flex;
      flex-direction: row;
      justify-content: center;
    }
    .heading {
        padding: 5px 28px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    .image {
      width:100%;
    }
    fieldset img {
        width: 100%;
        margin-top: -2em;
    }
    fieldset{
      height:fit-content;
    }

    .shipping, .reviews {
        padding: 10px;
        color: #833016;
    }

    .title {
        padding: 20px;
    }

    .icons {
        margin-top: 10px;
    }

    .icons img {
        width: 90px;
        margin: 25px;
    }
}
