body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #16151a;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

/*PRODUCT LIST --- BANNER + MINI STATUS BAR*/
.herobanner {
  width: 100%;
  background-color: #2f2f2f;
  padding-bottom: 0.1%;
}
.NintendoPL {
  width: 100%;
  position: relative;
}
.NintendoPL__background {
  position: relative;
  width: 100%;
  height: auto;
}
.NintendoPL__background img {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30vh;
  display: block;
  object-fit: cover;
}
.herobanner__text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.herobanner__statusbar {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 0.6em;
  margin: 1% auto; /*centers text*/
  align-items: center;
}

/*PRODUCT LIST --- FILTER*/
.filter {
  float: left; /* Ensure the filter stays on the left side */
  width: 20%; /* Adjust as needed */
  height: 100vh;
  padding: 3%;
  background-color: #2f2f2f;
  margin-top: 40px; /* Add margin to the top */
  margin-left: 40px; /* Add margin to the right */
}
.filter label {
  display: block;
  margin-bottom: 1em;
}

/*PRODUCT LIST -- PRODUCTS*/
.product-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  margin-top: 2em;
  margin-left: 26em;
  z-index: 1;
}
.product-card {
  border: 1px solid #ccc;
  overflow: hidden;
  width: 250px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
  margin: 1em 1em 5em 3em;
  display: flex;
  flex-direction: column;
  background-color: #ffefea;
  border-radius: 10px;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  padding: 1.2em;
  flex: 1;
}

.in-stock {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.product-card:last-child {
  margin-right: 0; /* Remove margin from the last card */
}

.page {
  width: 100%;
  text-align: center; /* Optional: Center the content horizontally */
  background-color: #2f2f2f;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.add-to-cart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.product-card:hover .add-to-cart-btn {
  opacity: 1;
  visibility: visible;
}

.details {
  display: flex;
  align-items: flex-end; /* Vertically center align */
  margin-top: 10px;
}

.product-price {
  margin-right: 100px; /* Adjust as needed */
}

.details img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: auto;
  }
  .herobanner__text {
    position: absolute;
    text-align: center;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .herobanner__statusbar {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 1em;
    margin: 1% auto; /*centers text*/
    align-items: center;
  }

  .filter {
    display:none;
    width: 0%;
    padding: 0%;
    margin: 0 0;
    float: none;
  }

  .product-list {
    width:90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin:0;
    padding:5vw;
    z-index: 1;
  }

  .product-card {
    width: 40vw;
    height: auto;
    max-height:33vh;
    margin: 2vw;
  }
  .product-card:last-child {
    margin-right: 0; /* Remove margin from the last card */
  }

  .product-info {
    padding: 0.5em;
  }

  .details {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .product-price {
    font-size: 1.5em;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .details img {
    width: 3em;
    height:auto;
  }

  .page {
    padding: 0;
    background-color: #2f2f2f;
  }

  
}
