.search { 
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    background: #f6f6f6;
    outline: #f6f6f6;
}

.searchInput{ 
    font-size: 16px;
    font-family: Poppins;
    color: rgb(255, 255, 255);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.close{
        padding: 14px;
}

