.headingh1--RussoOne {
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: normal;
}
.heading--Poppins {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: normal;
}
.body--Poppins {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: normal;
}
.subheading--RussoOne{
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  line-height: normal;
}

.product-title {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: black;
}
.product-price {
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}


/*GENERAL --- GAP BETWEEN TEXT SECTIONS*/
.textcontainer__heading{
  padding:2em 0;
}
.textcontainer__body{
  padding-bottom: 1em;
}