body{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth; 
  background-color: rgb(0, 0, 0);
  height: 100%; 


}

.navBar {
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
}

.center-fit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.layer{
    position: absolute; 
    top: 0; 
    left: 0; 
   
}

navLogo, navProfile, navCart, navSearch{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
}


.navLogo{
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%; 
  left: 45%; 
  cursor: pointer;
}


.navSearch{
  display: flex;
  align-items: center;
  position: absolute;
  top: 32%; 
  left: 3%; 
  cursor: pointer;
}

.navProfile{
  display: flex;
    align-items: center;
    position: absolute;
    top: 30%; 
    left: 93%; 
    cursor: pointer;
}

.navCart{
  display: flex;
    align-items: center;
    position: absolute;
    top: 30%; 
    left: 85%; 
    cursor: pointer;
}


.footer {
    display: flex;
  
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
    font-family: 'Poppins';
    font-size: 14px;
    background: linear-gradient(to top, #FF0000, #9C0000, #3F0000, black);
    color: white;
  }
    
    .footerLogo {
      margin-bottom: 20px; /* Adjust the margin as needed */
    }
  
    .footerMenuList {
      list-style-type: none; /* Remove the default bullets */
    }
  
    .footerMenuitem{
      margin-bottom: 10px;
      cursor: pointer;
    }
  
  
    .footerPolicyItem{
      margin-bottom: 20px;
      cursor: pointer;
    }
  
    .footerPolicies{
      margin-top: 50px;
    }
    
    .footerLeft,
    .footerCenter,
    .footerRight {
      flex: 1; /* Allow the elements to grow and shrink equally */
    }
    
    /* Additional styling for the footer elements */
    .footerLeftMenu,
    .footerCenter,
    .footerRightMenu {
      text-align: center; /* Center text horizontally */
    }
  
    .footerLeft{
      margin-left: 50px;
    }
  
    .footerRight{
      margin-right: 30px;
    }
  
    footerMenuItem1, footerMenuItem2, footerMenuItem3, footerMenuItem4 {
      cursor:pointer;
    }  
  
    .test{
      color: white;
    }